page-home {

}

ion-img {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: none !important;
    contain: strict;
}

ion-app.md [padding] {
    padding: 0px !important;
}

 h6 {
    margin-top: 0.6rem !important;
}

.card{
  background-color:#563d7c;
  border-radius: 10px;
}

.butt{
    width: 100% !important;
    background-color: transparent;
    padding: 0px !important;
}
page-home {

}

ion-img {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: none !important;
    contain: strict;
}

ion-app.md [padding] {
    padding: 0px !important;
}

 h6 {
    margin-top: 0.6rem !important;
}

.card{
  background-color:#563d7c;
  border-radius: 10px;
}

.butt{
  width: 100%;
    background-color: transparent;
}
